body {
	background: #f3f2f0;
}

.principal {
	height: 60%;
}

h2 {
	padding-top: 2%;
	padding-bottom: 3%;
}

h6 {
	padding-bottom: 5%;
}

.imagen {
	padding: 0;
	background: url(../img/fondo3.jpg) center;
	background-size: cover;
	height: 100%;
}

.formulario {
	background: #fff;
}